Underscore "_" in hostname

Hi,

in [hostname_test.go#L39](https://github.com/openconfig/featureprofiles/blob/main/feature/system/tests/hostname_test.go#L39), there's a test-case where the host-name is attempted to be changed to a string containing an "underscore". I'm wondering if this is a good test given the contention on this character in host-names.

[RFC952](https://datatracker.ietf.org/doc/html/rfc952) states the following assumption 

> 1. A "name" (Net, Host, Gateway, or Domain name) is a text string up
   to 24 characters drawn from the alphabet (A-Z), digits (0-9), minus
   sign (-), and period (.).  Note that periods are only allowed when
   they serve to delimit components of "domain style names". (See
   [RFC-921](https://datatracker.ietf.org/doc/html/rfc921), "Domain Name System Implementation Schedule", for
   background).  No blank or space characters are permitted as part of a
   name. No distinction is made between upper and lower case.  The first
   character must be an alpha character.  The last character must not be
   a minus sign or period.  A host which serves as a GATEWAY should have
   "-GATEWAY" or "-GW" as part of its name.  Hosts which do not serve as
   Internet gateways should not use "-GATEWAY" and "-GW" as part of
   their names. A host which is a TAC should have "-TAC" as the last
   part of its host name, if it is a DoD host.  Single character names
   or nicknames are not allowed.

While [RFC1912](https://www.ietf.org/rfc/rfc1912.txt) states the following:

>Allowable characters in a label for a host name are only ASCII
   letters, digits, and the `-' character.  Labels may not be all
   numbers, but may have a leading digit  (e.g., 3com.com).  Labels must
   end and begin only with a letter or digit.  See [RFC 1035] and [RFC
   1123].  (Labels were initially restricted in [RFC 1035] to start with
   a letter, and some older hosts still reportedly have problems with
   the relaxation in [RFC 1123].)  Note there are some Internet
   hostnames which violate this rule (411.org, 1776.com).  The presence
   of underscores in a label is allowed in [RFC 1033], except [RFC 1033]
   is informational only and was not defining a standard.  There is at
   least one popular TCP/IP implementation which currently refuses to
   talk to hosts named with underscores in them.  It must be noted that
   the language in [1035] is such that these rules are voluntary -- they
   are there for those who wish to minimize problems.  Note that the
   rules for Internet host names also apply to hosts and addresses used
   in SMTP (See RFC 821).

There's even some confusion within Linux applications (hostnamectl vs hostname)

```
bash-4.2# hostnamectl set-hostname test_test
bash-4.2# hostname -f
test_test
bash-4.2# hostname test_test
hostname: the specified hostname is invalid
```

Some vendors even disallow the use of underscore in host-names:

cEOS
```
ceos(config)#hostname ceos_ceos
! The hostname contains '_'. This is not a valid Internet hostname. The system might show 'ceos-ceos' instead of 'ceos_ceos' in certain cases.
```

SR-Linux:
```
--{ + candidate shared default }--[  ]--
A:srl# system name host-name srl_srl
Error: Failed to parse value 'srl_srl' for key '.system.name' (node 'name' field 'host-name') - Invalid value "srl_srl": Must match the pattern '(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])'
```

The constraints for the field are defined in OpenConfig as the [domain-name](https://github.com/openconfig/public/blob/master/release/models/types/openconfig-inet-types.yang#L332) type.  I think removing the underscore from tests is OK as there is some valid controversy around this character and there is an implementation rejecting it.

Closing as [pr175](https://github.com/openconfig/featureprofiles/pull/175) was raised to address this